@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    @apply h-full w-full;
  }

  body {
    @apply font-sans bg-white text-slate-900 transition-colors duration-300 overflow-x-hidden dark:bg-slate-900 dark:text-slate-100;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .modal-fade-in {
    animation: modalFadeIn 300ms cubic-bezier(.215, .61, .355, 1) forwards;
  }

  @keyframes modalFadeIn {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}

